logs
project/project
project/target
target
tmp
.history
dist
/.idea
/.bsp
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin
/public/static/css/*.css
/public/static/css/*.css.map
/public/static/js/*.js
/public/static/js/*.js.map
/public/static/js/*.js.LICENSE.txt
/public/index.html
/public/asset-manifest.json
/public/manifest.json